/* ==========================================================================
   ==========================================================================
   SPNZR STYLES
   ==========================================================================
   ==========================================================================
   simple semantic styling
   > articles are WP posts / pages
   >>> title is article id
   >>> headers, sections, and .c are centered with responsive width

   most everything is 980px wide
   but we do it MOBILE first
   using rem rem rem rem
   ========================================================================== */

// base element
article {
  > :first-child {
    padding-top: 7rem;
  }
}

// contains content
// .c is container, .cc is container plus+
header, .c, .cc {
  position: relative;
  max-width: 750px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  overflow: visible;
}

.cc {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.full-width, .cc-width {}

.full-width {
  overflow: hidden;
  margin: 3rem 0;
}

.full-width-tall {
  img {
    display: block;
    margin: auto;
  }
}

// 768px
// add width; therefore center content

@include media-breakpoint-up(sm) {
  // 600px-ish content width
  .c750, .prose, .prose-clean {
    header, .cc, .c {}

    .cc {
      padding: 20px 130px 40px 1rem;
    }

    .pull-right {
      width: 300px;
      margin-right: -130px;
      z-index: 30;
    }

    .size-large, .cc-width {
      max-width: 750px;
      margin: 0 0 3rem -1rem;
      z-index: 20;
    }
  }

  // =poem
  // 600px - 100px padding = 500px
  .c600, .poem {
    .cc, .c {
      max-width: 600px;
    }

    .cc {
      padding-left: 40px;
      padding-right: 60px;

      .size-large, .cc-width {
        max-width: 600px;
        margin: 0 0 3rem -40px;
        z-index: 20;
      }
    }
  }
}


// 992px
// more structure!!
@include media-breakpoint-up(md) {
  // =prose
  // 900px width - 300px width in padding = 600px
  //
  header, .cc, .c {
    max-width: 900px;
  }

  .prose, .prose-clean {
    // Everything goes padding-left 100px
    header, .c {
      padding-left: 100px;
    }

    .cc {
      padding: 70px 200px 40px 100px;
    }

    .pull-right {
      width: 380px;
      padding-left: 40px;
      margin-right: -200px;
      z-index: 30;
    }

    .size-large, .size-full, .cc-width {
      max-width: 900px;
      margin: 0 0 3rem -100px;
      z-index: 20;
    }
  }

  .prose-clean {
    .cc {
      padding-top: 0;
    }
  }

  /*   // make 500px width via padding
     .c500, .poem{
        header{
           padding-top: 4rem;
        }

        .cc{
           padding-right: 280px;
           padding-left: 200px;
        }

        .size-large, .section-width{
           max-width: 980px;
           margin: 0 0 2rem -200px;
        }
     }
*/
}


// 1200px
@include media-breakpoint-up(lg) {
  .project {
    // purposefully not centering header
    header, .cc, .c {
      max-width: 1200px;
    }
  }
}


/* ==========================================================================
   =PULL
   ========================================================================== */
.pull-right, .pull-left {
  padding: 0 !important;
  margin: 1rem 0;
  max-width: 100%;
}

@include media-breakpoint-up(sm) {
  .pull-right {
    @include make-col(6);
  }

  .pull-left {
    @include make-col(7);

    background: white;
    font-weight: 200;
  }

  .pull-left.extra {
    @include make-col(9);
  }
}


// 991px
@include media-breakpoint-down(md) {
  .pull-right {
    margin-right: -16%;
  }

  .pull-left {
    clear: both;
    padding: 1rem 0;
  }
}


/* ==========================================================================
   =ALL
   more generic structure
   assuming 480px -- mostly not for phone :(
   ========================================================================== */

.mcchicken {
  display: inline-block;

  img {
    max-height: 100% !important;

    // height: auto !important;
    width: auto;
    display: block;
  }
}

@include media-breakpoint-up(xs) {
  .chicken {
    width: 50%;
    float: left;
    min-height: 1px;
  }

  // .mcnuggets
  // split two child elements into two columns with padding etc
  // ( used on post #what-you-say )
  .mcnuggets {
    min-width: 480px;

    blockquote {
      width: 48%;
      float: left;
      padding: 5px 0 10px 8px;

      &:first-child {
        padding: 5px 8px 10px 0;
        text-align: right;
        border-right: 1px $gray-500 solid;
      }
    }
  }

  // .mcchicken
  .mcchicken {
    min-width: 400px;
    max-width: 900px;

    blockquote, .chicken {
      width: 85% !important;
      margin: auto;
    }
  }
}


/* ==========================================================================
   =nav
   ========================================================================== */
.navbar {
  border-bottom: 1px solid #222;
  border-top: 1px solid #333;

  @include media-breakpoint-up(md) {
    .nav li {
      float: left;
    }
  }
}

#fixed-nav {
  position: fixed;
  bottom: 85px;
  right: 16px;
  z-index: 50;
  background: transparent;

  a {
    opacity: 0.7;
    transition: opacity 0.5s;
    font-size: 2.5em;
    line-height: 1;
    text-align: center;
    font-family: 'Calisto MT', 'Bookman Old Style', Bookman, Garamond, 'Hoefler Text', Georgia, serif;

    &:hover {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(md) {
    bottom: 0;
    right: 0;

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      padding: 0;

      a {
        background: white;
        border-top: solid 1px black;
      }

      a:hover {
        background-color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

/****************** MACARONI affix nav element *********
 *
 * .kraft -> nav -> ul.macaroni -> li (ul.nav.nav-stacked) -> a.noodle
 * .noodle is top level link only   
 * 
 */

.kraft {
  @include make-col(3);

  position: relative;
  z-index: 99;
  padding: 0;

  ul {
    list-style: none;
    padding-left: 5px;
  }

  a {
    padding: 1px 0 2px 12px;
    font-size: 14px;
    display: block;
  }
}

.macaroni {
  // is top level ul
  .active > a {
    font-style: italic;
    font-weight: bold;
  }

  ul {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .kraft {
    .noodle {
      padding: 4px 0 4px 8px;
      font-size: 15px;
      border-left: 4px solid transparent;
    }

    li:hover ul, .active ul {
      display: inherit;
    }
  }
}


/* ==========================================================================
   =post header
   ========================================================================== */

.masthead {
  min-height: 100px;
  z-index: 40;
  position: relative;
  display: flex;
  align-items: flex-end;

 h3 {
  flex: 1 5 auto;
  font-size: 16px;
  line-height: 1.1;
  font-weight: normal;
  margin: 1rem 0 0;
 }

  h1, .h1 {
    top: 8px;
    left: -3px;
    flex: 3 1 auto;
    margin: 0;
    position: relative;
    z-index: 99;
  }
}

/* Template content.php if / then
   .masthead.bg-image OR .masthead.transparent-bg 
*/
.bg-featured-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: inherit;
  color: white;

  .masthead {
    margin: 35rem auto 5rem;
  }
}

// .masthead .h1{
//    margin: 0;
//    // flex: 6;
// }

// .info {
//    float: left;
//    padding-left: 7px;
//    // overflow: hidden;
//    // display: block;

//    h3 {
//       font-size: 16px;
//       line-height: 1.1;
//       font-weight: normal;
//       margin: 1rem 0;
//       position: absolute;
//       bottom: -1px;
//    }
// }

/* ==========================================================================
   using category 
   ========================================================================== */
.project {
  p {
    font-family: $font-family-sans-serif;
  }

  img {
    border: solid 2px white;
  }
}

.prose .cc,
.script .cc,
.shadow {
  background: white;
  box-shadow: 8px 12px 18px rgba(0, 0, 0, 0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#667555')";
}

/* ==========================================================================
   =archvie.php
   ========================================================================== */

/* ==========================================================================
   =single.php
   ========================================================================== */
.single-post {
  article {
    h1 {}
  }
}

// =footer
.palm {
  border-top: 1px black solid;
  margin-bottom: 2rem;

  // border-bottom: 1px black solid;

  .navbar {
    padding: 10px 8px 65px;

    // side padding (nearly) matches "c" container padding
    border: none;

    // position: 5px;

    .text-right {
      float: right;
    }
  }
}

.dancing-squirrel {
  background-image: url("../images/site/squirrel.gif");
  background-size: cover;
  min-height: 270px;
  min-width: 180px;
  margin-top: 20px;
  float: right;
  border: 12px solid #ccc;
  border-radius: 199px;
}

.fb-comments {
  // .make-lg-column(6);
}

.credibility-footnotes, .footnotes {
  overflow: hidden;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {}

/* ==========================================================================
   Posts
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   Images
   ========================================================================== */
.collage {
  overflow-x: auto;
  overflow-y: hidden;
  background: white;
  padding: 1rem 0;
  margin: 0 0 4rem;
  white-space: nowrap;
}

.collage figure {
  margin: 2rem;
}

.hx-control {
  position: relative;
  z-index: 50;

  .hx-arrow {
    position: absolute;
    right: 0;
    top: -0.1em;
    opacity: 0.6;
    cursor: crosshair;
    font-size: 5em;
    line-height: 1;

    &:hover {
      opacity: 0.8;
    }
  }
}

/* ==========================================================================
   Type
   ========================================================================== */

// Blockquotes
blockquote p, q {
  font-size: 1.8rem;
  font-weight: 200;
  font-family: $font-family-sans-serif;
  letter-spacing: 0.2px;
}

blockquote {
  padding: ($line-height-lg / 2) $line-height-lg;
  line-height: 1.25;
  margin: 0 0 1rem;

  p {}

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: $body-color;
  }

  small, cite {
    display: block;
    font-size: 0.8em;
    line-height: $line-height-sm;
    padding-top: 5px;

    // color: @blockquote-small-color;

    &::before {
      content: '\2014 \00A0';

      // EM DASH, NBSP
   
    }
  }

  .h3 {
    font-size: 1.6rem;
  }

  .q-mark {
    position: absolute;
    left: -0.4em;
    top: 0.1em;
    font-size: 2em;
    font-family: $font-family-serif;
    color: #333;

    // opacity: .8;
 
  }

  &.pull-left {
    padding-left: 0;
    color: lighten($body-color, 10%);
    border: none;
  }

  // Float right with text-align: right
  &.pull-right {
    padding-right: 0;
    border: none;
    color: lighten($body-color, 10%);

    p,
    small {}

    small, cite {
      text-align: right;
      font-size: 0.8em;
      padding-right: 6%;

      &::after {
        content: '';
      }

      &::before {
        content: '\00A0 \2014';

        // NBSP, EM DASH
     
      }
    }
  }
}

// Quotes
q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $line-height-sm;
  font-style: normal;
  line-height: $line-height-sm;
}
