// script formatting is tricky 
// the whole page should zoom in and out

// to do:
// however, GOT everything in rrem to achive some responsiveness

$script-line-height: 1.7rem;

.category-script {
  p {
    font-size: 1.2rem;
    line-height: 1;
    font-family: Courier, monospace;
    color: black;
  }

  p.sceneheading {
    margin-bottom: $script-line-height;
    text-transform: uppercase;
  }

  p.action {
    margin-bottom: $script-line-height;
  }

  p.shot {
    text-transform: uppercase;
  }

  p.character {
    text-transform: uppercase;
    margin: 0 10rem 0 15rem;
  }

  p.parenthetical {
    margin: 0 10rem 0 10rem;

  }

  p.dialog {
    margin: 0 10rem $script-line-height 10rem;
  }

  p.transition {
    margin-right: 1rem;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: $script-line-height;
  }
}

// designed for a width of 940px
@include media-breakpoint-up(lg) {
  .script{
    .c,
    .cc{
      max-width: 940px;
    }
    .cc {
      padding: 6rem 5rem 6rem 6rem;
    }
  }
}
